In [3]:
# Q.1
import pandas as pd

In [4]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:

series = pd.Series(["4","8","15","16","23","42"])

In [6]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [7]:
# Q.2
series = [1,2,3,4,5,6,7,8,9,10]
Ab = pd.Series(series)

In [8]:
print(Ab)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
# Q.3
Q3 = pd.read_excel('Assignment 20.xlsx')

In [10]:
Q3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
# Q.4
#  A DataFrame in pandas is a two-dimensional.size-mutable, and potentially
# heterogeneous tabular data structure with labeled axes rows and columns.
# It is similar to a table in a database or an excel spreadsheet.

# On the other hand, a series is a one-dimensional array-like object 
# that can hold any data type integers,strings, floating-point,etc.and has an 
# associated array of data labels, called its index.
data_series= pd.Series([1,2,3,4,5,6,345])
print("Data Series")
print(data_series)

data_frame = pd.DataFrame({'A':[1,2,3,4],'B':[5,4,7,8],'c':[9,10,11,12]})
print("Data Frames")
print(data_frame)

Data Series
0      1
1      2
2      3
3      4
4      5
5      6
6    345
dtype: int64
Data Frames
   A  B   c
0  1  5   9
1  2  4  10
2  3  7  11
3  4  8  12

In [27]:
# Q.5 
# 1.dtypes: Tell you all the types of data stored in a dataframe
#Q3.dtypes

# 2. Head fetches the first five elements
#Q3.head

# 3.tail fetches the last five elements
#Q3.tail

# 4.Columns: Tells us each category and head columns of the data
#Q3.columns

# 5.To_csv this saves the data in a csv file
#Q3.to_csv("Q3.CSV")

In [28]:
Q3.head

<bound method NDFrame.head of      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female>

In [29]:
Q3.tail

<bound method NDFrame.tail of      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female>

In [30]:
Q3.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [31]:
Q3.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [32]:
Q3.to_csv("Q3.csv")

In [33]:
#Q.6 
# In pandas, both Dataframe and panel are mutable in nature, meaning
# you can change their size and values.
# however, a series is only value mutable, meaning you can change the 
# data within it , but its size is immutable.

In [40]:
a1 = pd.Series([1,2,3,4,5,6,7])
a2 = pd.Series([23,434,234,54,65,21,23])
a3 = pd.Series(["a","d","c","f","e","w","r"])

In [42]:
Data = {"A1":a1,"A2":a2,"A3":a3}

data_frame = pd.DataFrame(Data)

In [44]:
data_frame

   A1   A2 A3
0   1   23  a
1   2  434  d
2   3  234  c
3   4   54  f
4   5   65  e
5   6   21  w
6   7   23  r